<!DOCTYPE html>
<html>
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
{% if is_post %}
  <title>{{ title }}</title>
{% else %}
  <title>Cobalt.rs Blog</title>
{% endif %}
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout -->
  <div class="container">
    <div class="row">
      <div class="two columns" style="margin-top: 25%">
        <h2>sda.io</h2>
      </div>
      <div class="ten columns" style="margin-top: 25%">
        {% if is_post %}
          {% include '_layouts/post.liquid' %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Document -->

</body>
</html>
