<!DOCTYPE html>
<html>
<head>

  <!-- Basic Page Needs -->
  <meta charset="utf-8">
{% if is_post %}
  <title>{{ title }}</title>
{% else %}
  <title>sda.io</title>
{% endif %}
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/skeleton.css">

  <!-- Favicon -->
  <link rel="icon" type="image/png" href="/images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout -->
  <div class="container">
    <div class="row" style="margin-top: 10%">
      <div class="two columns">
        <h2><a href="/">sda.io</a></h2>
        <p>Mike Sampson</p>
        <p>Linux Systems Administrator</p>
      </div>
      <div class="ten columns">
        {% if is_post %}
          {% include '_layouts/post.liquid' %}
        {% else %}
          {{ content }}
        {% endif %}
      </div>
    </div>
  </div>
  <!-- End Document -->

</body>
</html>
